<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments | App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<main>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="my-4">Payments</h1>
            <a href="/">Home</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DEBTOR</th>
                    <th scope="col">CREDITOR</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">PRIORITY</th>
                    <th scope="col">STATUS</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.debtor_iban }}</td>
                        <td>{{ payment.creditor_iban }}</td>
                        <td>{{ payment.amount }}</td>
                        <td>{{ payment.priority }}</td>
                        <td>{{ payment.status }}</td>
                        <td>
                            <a href="{{ payment.links.scaRedirect.href }}" target="_blank">Proceed</a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
